* {
  margin: 0;
  padding: 0;
}

.cabecalho,
.noticia1,
.noticia2,
.noticia3,
.noticia4,
.principal {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.noticia1,
.noticia2,
.noticia3,
.noticia4 {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

/*  especificidade maior que a classe  */
div[class^="noticia"] p {
  max-width: 17ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.5rem;
}

.principal {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 960px) {
  div[class^="noticia"] {
    flex-direction: column;
    align-items: flex-start;
  }

  div[class^="noticia"] p {
    max-width: unset;
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
  }

  .noticia1,
  .noticia3 {
    width: calc(30vw - 3rem);
  }

  .noticia2 {
    width: calc(40vw - 4.5rem);
  }

  .noticia4 {
    width: 100vw;
  }
}

@media screen and (min-width: 1920px) {
  .noticia1,
  .noticia3,
  .noticia4 {
    width: calc(20vw - 4.15rem);
  }

  .noticia2 {
    width: calc(40vw - 0.2rem);
  }
}

/* @media screen and (max-width: 500px) {
  .noticia1,
  .noticia2,
  .noticia3,
  .noticia4 {
    width: 100vw;
  }
} */
